<div class="layout">
<!-- TOP ROW -->
  <div class="row {{topRowClass}}">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class={{topRowH2Class}}>{{headerTitle}}</h2>
        <br *ngIf="isHome === undefined">
        <p class={{topRowPClass}}>  {{pageInfo}} </p>
        <p class="lead text-center" *ngIf="isHome !== undefined">
          <a routerLink="/services" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </div>
    <div class="col-md-1"></div>
  </div>
<!-- END TOP ROW -->

<!-- BOTTOM ROW -->
  <div class="row {{bottomRowClass}}" *ngFor="let cardRow of cards">
    <div class="{{bootstrapCol}}" *ngFor="let card of cardRow">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <fa name={{card?.icon}} class="fa-5x center" *ngIf="card?.icon !== undefined"></fa>
              <h5 class="card-title">{{card?.title}}</h5>
            </div>
            <hr>
            <p class="card-text">{{card?.text}}</p>
            <hr>
            <div class="advantages" *ngIf="card?.advantages !== undefined">
              <p class="cart-subtitle">Advantages</p>
              <ul class="card-bullet-list">
                  <li *ngFor="let advantage of card?.advantages">{{advantage}}</li>
              </ul>
              <hr>
            </div>
            <div class="price" *ngIf="card?.prices !== undefined">
              <p class="cart-subtitle">Price</p>
              <ul class="card-bullet-list">
                  <li *ngFor="let price of card?.prices">{{price}}</li>
              </ul>
              <hr>
            </div>
            <div class="text-center">
              <a routerLink="/contact" class="btn btn-primary">Contact Us</a>
            </div>
          </div>
        </div>
    </div>
  </div>
<!-- END BOTTOM ROW -->
<!-- CONTACT FORM -->
  <hr class="white-hr">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Contact</h2>
    </div>
  </div>
  <hr class="white-hr">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="text-center">To enquire about a project or get more information about Euterpe Solutions please
        reach out to us at:</p>
        <h3 class="text-center"> <strong>contact@euterpesolutions.com</strong></h3>
    </div>
    <div class="col-md-2"></div>
  </div>
<!-- END CONTACT FORM -->

<div style="height: 200px;"></div>
</div>
