.tall-row {
  padding-top: 20%;
  padding-bottom: 20%;
  /* background: url("/assets/apple-apple-background.jpg"); */
  background: url("/assets/apple-apple-background.png");
  background-position: right top;
  background-size: 98% 120%;
  background-repeat: no-repeat;
}


/* Learn More btn */
.lead .btn{
  width: 400px;
  height: 100px;
  padding-top: 35px;
  border-radius: 13px;
  background-color: #af473c;
}

.content {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #af473c;
  margin-bottom: 200px;
}

.card {
  border-radius: 35px;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
}

.testimonials {
  background-color: #fff;
  padding-top: 75px;
  padding-bottom: 75px;
}

.testimonials .card {
  background-color: #3c3c3c;
  color: #ddd;
}

.testimonials hr {
  background-color: #ccc;
}

.contact {
  padding-top: 100px;
  padding-bottom: 100px;
}
