/* Info Cards at the bottom of the page */
.card {
  color: #333;
  height: 100%;
}

.row {
  margin-top: 30px;
}

.cart-subtitle {
  font-weight: bolder;
}

.top-row {
  margin-top: 75px;
  margin-bottom: 75px;
  background-color: #df0000;
  padding-top: 80px;
  padding-bottom: 80px;
}

.tall-row {
  margin-top: 15%;
}
/* .content {
  background-color: #df0000;
  padding: 100px;
  margin-left: -15px;
  margin-right: -15px;
} */

/* Learn more button */
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* Space between the logo cover and the cards */


/* Info Cards at the bottom of the page */
.card {
  color: #333;
  background-color: #fff;
}

.content {
  background-color: #df0000;
  padding: 100px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 13%;
  padding-top: 45px;
  /* color: #c2c2c2; */
}

.centerheader {
  text-align: center;
  margin-bottom:100px;
  margin-top:0px;
  padding-top:0px;
}

.centericon {
  vertical-align: center;
}

input.ng-invalid.ng-touched
{
   border-color: red;
}

button a {
  color: #333;
}
