/* Info Cards at the bottom of the page */
.card {
  color: #333;
  height: 100%;
}

.row {
  margin-top: 30px;
}

.cart-subtitle {
  font-weight: bolder;
}

.header {
  margin-top: 75px;
  margin-bottom: 75px;
  background-color: #df0000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  background-color: #df0000;
  padding: 100px;
  margin-left: -15px;
  margin-right: -15px;
}
