.card {
  color: #333;
}

.spacer {
  margin-top: 200px;
}

.cover-container {
  width:100%
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.cover-heading {
  margin-top:55px;
}

.inner {
  margin-top: 60px !important;
}
