<header class="masthead">
  <div class="inner">
    <div class="row">
      <div class="col-sm-1">
        <img src="assets/LawtonLogoCircle.png" width="50px" height="50px" alt="" style="float:right;">
      </div>
      <div class="col-sm-3">
        <h3 style="margin-top:5px;"class="masthead-brand" routerLink="/home">Euterpe Solutions</h3>
      </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        <nav class="nav nav-masthead">
          <div *ngFor="let link of links" >
            <a *ngIf="link?.active else notActive" class="nav-link active" routerLink='{{link?.link}}'>{{link?.title}}</a>
            <ng-template #notActive>
              <a class="nav-link" routerLink='{{link?.link}}'>{{link?.title}}</a>
            </ng-template>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
