<header class="masthead">
  <div class="inner">
    <div class="row">
      <div class="col-sm-4">
        <a routerLink="/home"> <img src="assets/Logo_Full_Recolored.png" width="230px" height="40px" alt="" style="float:left;"></a>
      </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        <nav class="nav nav-masthead">
          <div *ngFor="let link of links" >
            <a *ngIf="link?.active else notActive" class="nav-link active" routerLink='{{link?.link}}'>{{link?.title}}</a>
            <ng-template #notActive>
              <a class="nav-link" routerLink='{{link?.link}}'>{{link?.title}}</a>
            </ng-template>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
