/* You can add global styles to this file, and also import other style files */

/* Import for bootstrap */
@import "~bootstrap/dist/css/bootstrap.css";


html,
body {
  height: 100%;
  background-color: #670907;
  background-image: url('/assets/homebackground.jpg');
  /* //background-color: #000; */
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100%;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #444;
}

/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #eee;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #670907;
  border: .05rem solid #222;
}

app-root {
  width: 90%;
  /* background-color: #670907; */
}
