/* You can add global styles to this file, and also import other style files */

/* Import for bootstrap */
@import "~bootstrap/dist/css/bootstrap.css";

.row {
  margin-right: 0px;
  margin-left: 0px;
}

body {
  background: url("/assets/business-background.jpeg");
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
